html, body {
	margin:0px;
	padding: 0px;
	height: 100%;
	font-family: "Roboto", sans-serif;
}
body{
	background: url('fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	height: 15%;
}
section{
	height: 70%;
	margin: 0px 10% 0px 10%;
}
section .col{
	width: 20%;
	height: 60%;
	padding: 3% 0 3% 0;
	float: left;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 5px black;
}
section .col.t2{
	width: 40%;
	margin-bottom: 2%;
}
section .col .row {
	height: 50%;
}
section .col .title{
	font-size: 2.5vh;
	margin-top: 50%;
}
section .col .content{
	font-size: 9vh;
}
section .col .simbol{
	font-size: 5vh;
}
footer{
	height: 15%;
	text-align: center;
}
.foo-container{
	background: linear-gradient(rgba(200, 200, 255, 0.8), white);
	border-radius: 20px 20px 0px 0px;
	display: inline-block;
	padding: 0 3% 0 3%;
    height: 100%;
}
.button{
	vertical-align:top;
	position: relative;
	display:inline-block;
	top: 0.5vh;
	height: 13vh;
	max-height: 14.5vw;
	width: 13vh;
	max-width: 14.5vw;
	margin: auto;
	padding: 3px;
	border: 1px solid grey;
	background-color: rgba(50, 50, 50, 0.5);
	border-radius: 5px;
	cursor: pointer;
}
.ico{
	background-color: lightgrey;
	border-radius: 5px;
	cursor: pointer;
}
.temperature{
	border-bottom: 2px solid black;
	font-size: 20vh;
}
#time{
	font-size: 10vh;
	font-weight: bold;
	text-shadow: 0px 0px 2px black;
}
#date{
	font-size: 2.5vh;
	font-weight: bold;
	text-shadow: 0px 0px 2px black;
}
#toast-container{
	position: absolute;
	right: 0px;
	top: 0px;
}
.toast{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color: #404040;
	color: white;
	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
	display: none;
}
.legible{
	background-color: rgba(50, 50, 50, 0.5);
	border-radius: 15px;
}
.material-icons.b-large{
	font-size: 10vh;
	color: #444444;
}
#bubble {
	display: none;
	position: absolute;
	width: 30vh;
	max-width: 30vw;
	height: 50vh;
	max-height: 50vw;
	padding: 5px;
	background: rgba(255, 255, 255, 0.9);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #7F7F7F solid 5px;
	bottom: 13vh;
	left: 0px;
}
#bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 23px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 44px;
}
#bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 19px 27px 0;
	border-color: #7F7F7F transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -24px;
	left: 40px;
}
.range {
	display: none;
	height: 92%;
	margin: 0 auto 30px;
}
.dialog-background{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.5);
}
.dialog{
	position: relative;
	top: 40vh;
	width: 30vw;
	min-height: 10vh;
	margin: auto;
	background-color: white;
	border-radius: 15px;
	box-shadow: 1px, 1px, 5px, #000000;
	padding: 5px;
	padding-top: 5vh;
	text-align:center;
}
.dialog-close{
	position: absolute;
	color: red;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
@media screen and (min-width: 801px){
	.ico{
		background-color: lightgrey;
		border-radius: 5px;
		cursor: pointer;
		font-size: 3rem;
	}
	section .col .title{
		font-size: 3vh;
		margin-top: 40%;
	}
}
@media screen and (max-width: 799px), screen and (max-width: 800px) and (min-height: 755px){
	.ico{
		background-color: lightgrey;
		border-radius: 5px;
		cursor: pointer;
		font-size: 3vh;
	}
	section .col{
		height: 40%;
		padding: 0px;
	}
	section .col.first {
		margin-left: 20%;
	}
	section .col.t2{
		width: 100%;
	}
	section .col .row {
		height: 30%;
	}
	section .col .title{
		font-size: 2.5vw;
		margin-top: 50%;
	}
	section .col .content{
		font-size: 3vh;
	}
	section .col .simbol{
		font-size: 2vh;
	}
	.temperature{
		border-bottom: 2px solid black;
		font-size: 8.5vh;
	}
	#time{
		font-size: 5vh;
		font-weight: bold;
		text-shadow: 0px 0px 2px black;
	}
	#date{
		font-size: 2vh;
		font-weight: bold;
		text-shadow: 0px 0px 2px black;
	}
	footer{
		position: absolute;
		width: 100%;
		bottom: 0px;
		max-height: 17.5vw;
	}
	.foo-container{
		max-height: 17.5vw;
	}
	#button{
		padding: 1px;
		max-height: 13.5vw;
		max-width: 13.5vw;
	}
	.material-icons.b-large{
		font-size: 7vh;
	}
	.infotext{
		margin-top: -3px;
		font-size: 11px;
	}
	.dialog{
		width: 60vw;
	}
}
@media screen and (max-width: 799px){
	.material-icons.b-large{
		font-size: 6vh;
	}
}
@media screen and (max-width: 340px){
	#button{
		padding: 1px;
		max-height: 12.5vw;
		max-width: 12.5vw;
	}
	.material-icons.b-large{
		font-size: 5vh;
	}
	.infotext{
		font-size: 10px;
	}
}